<div class="w-60 rounded border shadow-md bg-card">
    
    <!-- Tags panel header -->
    <div class="flex items-center m-3 mr-2">
        <div class="flex items-center">
            <mat-icon class="icon-size-4" [svgIcon]="'heroicons_solid:search'"></mat-icon>
            <div class="ml-2">
                <input
                    class="w-full min-w-0 py-1 border-0"
                    type="text"
                    placeholder="Enter tag name"
                    (input)="filterDefects($event)"
                    [maxLength]="30"
                    #newTagInput>
            </div>
        </div>
        <button
            class="ml-1"
            mat-icon-button
            (click)="onToggleDefectsEditMode()">
            <mat-icon
                *ngIf="!tagsEditMode"
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
            <mat-icon
                *ngIf="tagsEditMode"
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:check'"></mat-icon>
        </button>
    </div>

    <!-- Tags panel body -->
    <div class="flex flex-col max-h-64 py-2 border-t overflow-y-auto">
        <!-- Tags -->
        <ng-container *ngIf="!tagsEditMode">
            <!-- <ng-container *ngIf="defects$ | async as defects"> -->
                <ng-container *ngFor="let defect of defects; trackBy: trackByFn">
                    <div
                        class="flex items-center h-10 min-h-10 px-4 cursor-pointer hover:bg-hover"
                        (click)="onToggleCommitTag(defect)"
                        matRipple>
                        <mat-checkbox
                            class="flex items-center h-10 min-h-10 pointer-events-none"
                            [checked]="commit.defects.includes(defect.title)"
                            [color]="'primary'"
                            [disableRipple]="true">
                        </mat-checkbox>
                        <div class="ml-1">{{defect.title}}</div>
                    </div>
                </ng-container>
            <!-- </ng-container> -->
        </ng-container>

        <!-- Tags editing -->
        <ng-container *ngIf="tagsEditMode">
            <div class="py-2 space-y-2">
                <!-- <ng-container *ngIf="defects$ | async as defects"> -->
                    <ng-container *ngFor="let defect of defects; trackBy: trackByFn">
                        <div class="flex items-center">
                            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full mx-4">
                                <input
                                    matInput
                                    [value]="defect.title"
                                    (input)="updateDefect(defect, $event)">
                                <button
                                    mat-icon-button
                                    (click)="deleteDefect(defect)"
                                    matSuffix>
                                    <mat-icon
                                        class="icon-size-5 ml-2"
                                        [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </ng-container>
                <!-- </ng-container> -->
            </div>
        </ng-container>

        <!-- Create tag -->
        <div
            class="flex items-center h-10 min-h-10 -ml-0.5 pl-4 pr-3 leading-none cursor-pointer hover:bg-hover"
            (click)="createDefect(newTagInput.value); newTagInput.value = ''"
            *ngIf="shouldShowCreateDefectButton(newTagInput.value)" 
            matRipple>
            <mat-icon
                class="mr-2 icon-size-5"
                [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
            <div class="break-all">Create "<b>{{newTagInput.value}}</b>"</div>
        </div>
    </div>
</div>