{% extends "base.html" %}

{% block page_content %}

{% load static %}

<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-2" src="{% static "img/logo.png" %}" alt="" width="92" height="72">
        <h2>GithubMiner</h2>
        <p class="lead">Fill the fields above to mine Github and...</p>
    </div>

    <h4 class="mb-3">Miner settings</h4>
    <form class="needs-validation" method="POST" target="_blank">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <label>From</label>
                {{ form.input_date_from }}
                <small class="form-text text-muted">Collect repositories created after this date</small>
            </div>
            <div class="col">
                <label>To</label>
                {{ form.input_date_to }}
                <small class="form-text text-muted">Collect repositories created up to this date</small>
            </div>
            <div class="col">
                <label>Pushed after</label>
                {{ form.input_pushed_after }}
                <small class="form-text text-muted">Collect repositories pushed after this date</small>
            </div>
            <div class="col">
                <label>Time interval</label>
                {{ form.input_timedelta }}
                <small class="form-text text-muted">Scan Github at this time interval
                    <i class="fa fa-info-circle" data-toggle="tooltip" title="GraphQL returns a limited number of repositories between two dates.  To search for as many repositories as possible select a small interval. Note: a small interval also means a longer mining time."></i>
                </small>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <label>Issues</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-exclamation-circle"></i></span>
                    </div>
                    {{ form.input_issues }}
                </div>
                <small class="form-text text-muted">Minimum number of issues</small>
            </div>
            <div class="col">
                <label>Releases</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-tag"></i></span>
                    </div>
                    {{ form.input_releases }}
                </div>
                <small class="form-text text-muted">Minimum number of releases</small>
            </div>
            <div class="col">
                <label>Stars</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-star"></i></span>
                    </div>
                    {{ form.input_stars }}
                </div>
                <small class="form-text text-muted">Minimum number of stars</small>
            </div>
            <div class="col">
                <label>Watchers</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-eye"></i></span>
                    </div>
                    {{ form.input_watchers }}
                </div>
                <small class="form-text text-muted">Minimum number of watchers</small>
            </div>
        </div>

        <h4 class="mb-3 mt-5" style="text-align:center;">Github access token</h4>
        <div  style="text-align:center;">
            {{ form.input_github_token }}
        </div>

        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Start</button>
    </form>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2020 RADON-H2020</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>


{% endblock %}