<div class="flex flex-col flex-auto min-w-0">
    
    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Repositories</div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                <mat-icon
                    matPrefix
                    [svgIcon]="'heroicons_outline:search'"></mat-icon>
                <input
                    matInput
                    (keyup)="applyFilterRepositories($event.target.value)"
                    [autocomplete]="'off'"
                    [placeholder]="'Search repositories'">
            </mat-form-field>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto mt-4 sm:mt-6">

        <div id="fab-dismiss" 
            *ngIf="fabTogglerState==='active'" 
            (click)="onToggleFab()">
        </div>    
        <div class="fab-container" 
             style="position: fixed; right: 16px; bottom: 24px; z-index: 100;">
             <button mat-fab class="fab-toggler"
                (click)="onToggleFab()">
                    <i class="material-icons" [@fabToggler]="{value: fabTogglerState}">add</i> <!-- Animation here -->
            </button>
            <div [@speedDialStagger]="buttons.length"> <!-- and here -->
                <button *ngFor="let btn of buttons"
                        mat-mini-fab
                        class="fab-secondary"
                        color="primary"
                        #tooltip="matTooltip"
                        [matTooltip]="btn.tooltip"
                        matTooltipPosition="left">
                <i class="material-icons">{{btn.icon}}</i>
                </button>
            </div>
        </div>
            

        <!-- Tabs -->
        <mat-tab-group mat-align-tabs="center" class="sm:px-2" [animationDuration]="'0'" *ngIf="(repositoriesGithub.length + repositoriesGitlab.length) > 0; else noRepositories">

            <!-- Github -->
            <mat-tab label="Github" *ngIf="repositoriesGithub.length > 0"> 

                <!-- Github repositories list -->
                <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden">
                    <ng-container>
                        <!-- Table wrapper -->
                        <div class="flex flex-col flex-auto mt-2 overflow-x-auto" cdkScrollable>
                            
                            <!-- Table -->
                            <table class="w-full min-w-320" mat-table 
                                matSort
                                [matSortActive]="'name'"
                                [matSortDirection]="'asc'"
                                [dataSource]="dataSourceGithub">

                                <!-- Name Column -->
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                    <td mat-cell *matCellDef="let repository" style="font-size: 12px;"> {{repository.full_name}} </td>
                                </ng-container>

                                <tr class="shadow"
                                    mat-header-row
                                    *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>

                            <mat-paginator 
                                #PaginatorGithub="matPaginator"
                                [pageSizeOptions]="[5, 10, 20]" 
                                showFirstLastButtons></mat-paginator>
                            
                        </div>
                    </ng-container>
                </div>
            </mat-tab>
            
            <!-- Gitlab -->
            <mat-tab label="Gitlab" *ngIf="repositoriesGitlab.length > 0">
                <!-- Gitlab repositories list -->
                <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden">
                    <ng-container >
                        <!-- Table wrapper -->
                        <div class="flex flex-col flex-auto mt-2 overflow-x-auto" cdkScrollable>
                            
                            <!-- Table -->
                            <table class="w-full min-w-320" mat-table 
                                matSort
                                [matSortActive]="'name'"
                                [matSortDirection]="'asc'"
                                [dataSource]="dataSourceGitlab">

                                <!-- Name Column -->
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                    <td mat-cell *matCellDef="let repository" style="font-size: 12px;"> {{repository.full_name}} </td>
                                </ng-container>

                                <tr class="shadow"
                                    mat-header-row
                                    *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>

                            <mat-paginator 
                                #PaginatorGitlab="matPaginator"
                                [pageSizeOptions]="[5, 10, 20]" 
                                showFirstLastButtons></mat-paginator>
                            
                        </div>
                    </ng-container>
                </div>
            </mat-tab>
        </mat-tab-group>

        <ng-template #noRepositories>
            <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">Start by adding a new repository!</div>
        </ng-template>
 
    </div>
</div>
