<h2 mat-dialog-title>Model Overview</h2>
<div class="font-medium tracking-tight text-secondary">Monitor metrics, check reports and review performance</div>

<mat-dialog-content>

    <div class="flex items-center mt-10">

        <div class="container">
          <div class="row">

              <!-- Mean Average Precision -->
            <div class="col-md">
                <div class="flex items-center">
                    <div class="font-medium text-secondary leading-5">Mean Average Precision</div>
                        <mat-icon
                            class="ml-1.5 icon-size-4 text-hint"
                            [svgIcon]="'heroicons_solid:information-circle'"
                            [matTooltip]="'Average Precision is the description here'"></mat-icon>
                    </div>
                    <div class="flex items-start mt-2">
                        <div class="text-2xl font-bold tracking-tight leading-none">{{data.performance.overall.mean_test_auc_pr}}</div>
                        <div class="flex items-center ml-2">
                        <span>&#177;</span>
                        <div class="ml-1 text-md font-medium">{{data.performance.overall.std_test_auc_pr}}</div>
                    </div>
                </div>
            </div>


            <!-- Mean MCC -->
            <div class="col-md mt-6">
                <div class="flex items-center">
                    <div class="font-medium text-secondary leading-5">Mean MCC</div>
                    <mat-icon
                        class="ml-1.5 icon-size-4 text-hint"
                        [svgIcon]="'heroicons_solid:information-circle'"
                        [matTooltip]="'Matthew Correlation Coefficient (MCC) is the description here'"></mat-icon>
                </div>
                <div class="flex items-start mt-2">
                    <div class="text-2xl font-bold tracking-tight leading-none">{{data.performance.overall.mean_test_mcc}}</div>
                    <div class="flex items-center ml-2">
                        <span>&#177;</span>
                        <div class="ml-1 text-md font-medium">{{data.performance.overall.std_test_mcc}}</div>
                    </div>
                </div>
            </div>

            <div class="col-md mt-6">
                <!-- Mean Precision -->
                <div class="flex items-center">
                    <div class="font-medium text-secondary leading-5">Mean Precision</div>
                    <mat-icon
                        class="ml-1.5 icon-size-4 text-hint"
                        [svgIcon]="'heroicons_solid:information-circle'"
                        [matTooltip]="'Precision is defined as ...'"></mat-icon>
                </div>
                <div class="flex items-start mt-2">
                    <div class="text-2xl font-bold tracking-tight leading-none">{{data.performance.overall.mean_test_precision}}</div>
                    <div class="flex items-center ml-2">
                        <span>&#177;</span>
                        <div class="ml-1 text-md font-medium">{{data.performance.overall.std_test_precision}}</div>
                    </div>
                </div>
            </div>

            <!-- Mean Recall -->
            <div class="col-md mt-6">
                <div class="flex items-center">
                    <div class="font-medium text-secondary leading-5">Mean Recall</div>
                    <mat-icon
                        class="ml-1.5 icon-size-4 text-hint"
                        [svgIcon]="'heroicons_solid:information-circle'"
                        [matTooltip]="'Recall is defined as ...'"></mat-icon>
                </div>
                <div class="flex items-start mt-2">
                    <div class="text-2xl font-bold tracking-tight leading-none">{{data.performance.overall.mean_test_recall}}</div>
                    <div class="flex items-center ml-2">
                        <span>&#177;</span>
                        <div class="ml-1 text-md font-medium">{{data.performance.overall.std_test_recall}}</div>
                    </div>
                </div>
            </div>
          </div>
        </div>

        <div class="container ml-10">
                <div class="flex items-center justify-end mt-10 ml-10 mr-6 sm:mr-10">
                    <div class="ml-2">
                        <mat-button-toggle-group
                            class="hidden sm:inline-flex border-none space-x-1"
                            value="auc-pr"
                            #evaluationMeasureSelector="matButtonToggleGroup">
                            <mat-button-toggle
                                class="px-1.5 rounded-full overflow-hidden border-none font-medium"
                                value="auc-pr">AUC-PR
                            </mat-button-toggle>
                            <mat-button-toggle
                                class="px-1.5 rounded-full overflow-hidden border-none font-medium"
                                value="mcc">MCC
                            </mat-button-toggle>
                            <mat-button-toggle
                                class="px-1.5 rounded-full overflow-hidden border-none font-medium"
                                value="precision">Precision
                            </mat-button-toggle>
                            <mat-button-toggle
                                class="px-1.5 rounded-full overflow-hidden border-none font-medium"
                                value="recall">Recall
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </div>
                <div class="flex flex-col flex-auto">
                    <apx-chart
                        class="flex-auto w-full h-full"
                        [chart]="chartPerformance.chart"
                        [colors]="chartPerformance.colors"
                        [dataLabels]="chartPerformance.dataLabels"
                        [fill]="chartPerformance.fill"
                        [grid]="chartPerformance.grid"
                        [series]="chartPerformance.series[evaluationMeasureSelector.value]"
                        [stroke]="chartPerformance.stroke"
                        [tooltip]="chartPerformance.tooltip"
                        [xaxis]="chartPerformance.xaxis"
                        [yaxis]="chartPerformance.yaxis"></apx-chart>
                </div>
        </div>
    </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
