<div class="flex flex-col flex-auto p-6 md:p-8">

    <!-- Close button -->
    <div class="flex items-center justify-end">
        <button
            mat-icon-button
            (click)="onDismiss()">
            <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>


    <!-- Name & Type -->
    <div *ngIf="item" class="flex flex-col items-start mt-8">
        <div class="text-xl font-medium">{{item.content.defect|titlecase}}</div>

        <div class="flex flex-shrink-0 items-center gap-2 mt-1">
<!--            <div class="px-1.5 rounded text-sm font-semibold leading-5 text-white bg-gray-600">{{item.content.language.toUpperCase()}}</div>-->
            <div class="px-1.5 rounded text-sm font-semibold leading-5 text-white bg-gray-600">
                <span class="flex items-center gap-2">
                    <span>
                        <!-- Low -->
                        <span
                            class="flex items-end w-1 h-4 bg-red-200 rounded overflow-hidden"
                            *ngIf="item.content.averagePrecision < 0.30">
                            <span class="flex w-full h-1/3 bg-red-600"></span>
                        </span>
                        <!-- Medium -->
                        <span
                            class="flex items-end w-1 h-4 bg-orange-200 rounded overflow-hidden"
                            *ngIf="item.content.averagePrecision >= 0.30 && item.content.averagePrecision < 0.80">
                            <span class="flex w-full h-2/4 bg-orange-400"></span>
                        </span>
                        <!-- High -->
                        <span
                            class="flex items-end w-1 h-4 bg-green-100 rounded overflow-hidden"
                            *ngIf="item.content.averagePrecision >= 0.80">
                            <span class="flex w-full h-full bg-green-400"></span>
                        </span>
                    </span>
                    <span>PR-ROC: {{item.content.averagePrecision}}</span>
                </span>
            </div>
            <div class="px-1.5 rounded text-sm font-semibold leading-5 text-white bg-gray-600">
                <span class="flex items-center gap-2">
                    <span>
                        <!-- Low -->
                        <span
                            class="flex items-end w-1 h-4 bg-red-200 rounded overflow-hidden"
                            *ngIf="item.content.mcc < 0.30">
                            <span class="flex w-full h-1/3 bg-red-600"></span>
                        </span>
                        <!-- Medium -->
                        <span
                            class="flex items-end w-1 h-4 bg-orange-200 rounded overflow-hidden"
                            *ngIf="item.content.mcc >= 0.30 && item.content.mcc < 0.80">
                            <span class="flex w-full h-2/4 bg-orange-400"></span>
                        </span>
                        <!-- High -->
                        <span
                            class="flex items-end w-1 h-4 bg-green-100 rounded overflow-hidden"
                            *ngIf="item.content.mcc >= 0.80">
                            <span class="flex w-full h-full bg-green-400"></span>
                        </span>
                    </span>
                    <span>MCC: {{item.content.mcc}}</span>
                </span>
            </div>
        </div>
    </div>

    <!-- Information -->
    <div class="text-lg font-medium mt-8">Information</div>
    <div class="flex flex-col mt-4 border-t border-b divide-y font-medium">
        <div class="flex items-center justify-between py-3">
            <div class="text-secondary">Created At</div>
            <div> {{item.content.createdAt * 1000 | date:'LLL dd HH:mm'}} </div>
        </div>
        <div class="flex items-center justify-between py-3">
            <div class="text-secondary">Sklearn version</div>
            <div>1.24.5</div>
        </div>
    </div>

    <!-- Actions -->
    <div class="grid grid-cols-2 gap-4 w-full mt-8">
        <button
            class="flex-auto"
            mat-flat-button
            [color]="'primary'"
            (click)="onDownload()">
            Download
        </button>
        <button
            class="flex-auto"
            (click)="onDelete()"
            mat-stroked-button>
            Delete
        </button>
    </div>

</div>
