<h2 mat-dialog-title>Collect repositories</h2>
<mat-dialog-content>

    <div class="flex flex-col mt-4 pt-6 border-t space-y-4">
        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-100" appearance="fill">
            <mat-label>Collect repositories created between</mat-label>
            <mat-date-range-input [formGroup]="data.dateRange" [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Start date">
                <input matEndDate formControlName="end" placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>

            <mat-error *ngIf="data.dateRange.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
            <mat-error *ngIf="data.dateRange.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
        </mat-form-field>

        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-100" appearance="fill">
          <mat-label>Last pushed after</mat-label>
          <input matInput [(ngModel)]="data.pushedAfter" [matDatepicker]="pickerPushedAfter" placeholder="Pushed after this date">
          <mat-datepicker-toggle matSuffix [for]="pickerPushedAfter"></mat-datepicker-toggle>
          <mat-datepicker #pickerPushedAfter></mat-datepicker>
        </mat-form-field>

        <!-- Min number of stars -->
        <mat-form-field appearance="fill">
          <mat-label>Minimum number of stars</mat-label>
          <input matInput [(ngModel)]="data.minStars" type="number" value="0" min="0">
        </mat-form-field>

        <!-- Min number of releases -->
        <mat-form-field appearance="fill">
          <mat-label>Minimum number of releases</mat-label>
          <input matInput [(ngModel)]="data.minReleases" type="number" value="0" min="0">
        </mat-form-field>

        <!-- Language -->
        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-100" appearance="fill">
            <mat-label>Written in</mat-label>
            <mat-select [(ngModel)]="data.language" name="language">
              <mat-option *ngFor="let language of languages" [value]="language.value">
                {{language.viewValue}}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Token (compulsory) -->
        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-100" appearance="fill">
            <mat-icon matPrefix [svgIcon]="'heroicons_outline:key'"></mat-icon>
            <input
                matInput
                type="password"
                [(ngModel)]="data.token"
                [autocomplete]="'off'"
                [placeholder]="'APIs token'">
        </mat-form-field>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button
          [mat-dialog-close]="{'token':data.token,
                               'start':data.dateRange.value.start,
                               'end': data.dateRange.value.end,
                               'pushedAfter': data.pushedAfter,
                               'minStars': data.minStars,
                               'minReleases': data.minReleases,
                               'language': data.language}">Start</button>
</mat-dialog-actions>
