<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <!-- Main -->
    <div class="flex flex-col flex-auto">

        <!-- Header -->
        <div class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between py-8 px-6 md:px-8">
            <!-- Title -->
            <div>
                <div class="text-4xl font-extrabold tracking-tight leading-none">Tasks</div>
                <div class="ml-0.5 font-medium text-secondary">
                    <span *ngIf="tasksCount.completed > 0">{{tasksCount.completed}} tasks</span>
                    <span *ngIf="tasksCount.failed > 0">{{tasksCount.failed}} tasks failed</span>
                    <span *ngIf="tasksCount.in_progress > 0">{{tasksCount.in_progress}} tasks in progress</span>
                </div>
            </div>
        </div>

        <ng-container *ngIf="tasks$ | async as tasks">

            <!-- Tasks list -->
            <ng-container *ngIf="tasks && tasks.length > 0; else noTasks">
                <!-- Task -->
                <ng-container *ngFor="let task of tasks; let first = first; trackBy: trackByFn">
                    <div class="group w-full select-none h-16 hover:bg-gray-100 dark:hover:bg-hover"
                        [ngClass]="{'text-hint': task.completed}"
                        [class.border-t]="first">

                        <!-- Task content -->
                        <div class="relative flex items-center h-full pl-10">
                            <div class="md:hidden absolute flex items-center justify-center inset-y-0 left-0 w-8 cursor-pointer md:group-hover:flex">
                                <mat-icon
                                    class="icon-size-5 text-warn"
                                    [matTooltip]="'Delete'"
                                    [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                            </div>

                            <!-- Complete task button -->
                            <!-- <button
                                class="mr-2 -ml-2.5 leading-none"
                                *ngIf="task.type === 'task'"
                                (click)="toggleCompleted(task)"
                                mat-icon-button>
                                <ng-container *ngIf="task.completed">
                                    <mat-icon
                                        class="text-primary"
                                        [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                                </ng-container>
                                <ng-container *ngIf="!task.completed">
                                    <mat-icon
                                        class="text-hint"
                                        [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                                </ng-container>
                            </button> -->

                            <!-- Task link -->
                            <div class="flex flex-auto items-center min-w-0 h-full pr-7">
                                <!-- Title & Placeholder -->
                                <div class="flex-auto mr-2 truncate">
                                    <span>{{ task.name | titlecase }}</span>
                                </div>

                                <!-- Language -->
                                <div class="col-span-1 flex flex-col items-start justify-center">
                                    <div class="text-sm flex-auto mr-2 truncate ml-4">
                                        <ng-container>
                                            <span>{{task.language | titlecase}}</span>
                                        </ng-container>
                                    </div>
                                </div>

                                <!-- Status -->

                                <!-- Start date -->
                                <div class="text-sm whitespace-nowrap text-secondary">
                                    {{task.started_at * 1000 | date:'LLL dd HH:mm:ss'}}
                                </div>

                                <!-- End date -->
                                <ng-container *ngIf="task.ended_at">
                                    <div class="text-sm whitespace-nowrap text-secondary">
                                        {{task.ended_at * 1000 | date:'LLL dd HH:mm:ss'}}
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </ng-container>

            </ng-container>
        </ng-container>

        <ng-template #noTasks>
            <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                <mat-icon
                    class="icon-size-24"
                    [svgIcon]="'heroicons_outline:clipboard-list'"></mat-icon>
                <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">There are not tasks!</div>
            </div>
        </ng-template>

    </div>

</div>