<div class="modal" id="modal-classifiers" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <p class="modal-title text-uppercase">Classifiers</p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="col ml-3">
                    <div class="row">
                        <label class="checkbox-inline">
                            <input id="dt-classifier-checkbox" type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger"> Decision Tree
                        </label>
                    </div>
                    <div class="row">
                        <label class="checkbox-inline">
                            <input id="lr-classifier-checkbox" type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger"> Logistic Regression
                        </label>
                    </div>
                    <div class="row">
                        <label class="checkbox-inline">
                            <input id="nb-classifier-checkbox" type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger"> Naive Bayes
                        </label>
                    </div>
                    <div class="row">
                        <label class="checkbox-inline">
                            <input id="rf-classifier-checkbox" type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger"> Random Forest
                        </label>
                    </div>

                    <div class="row">
                        <label class="checkbox-inline">
                            <input id="svm-classifier-checkbox" type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger"> Support Vector Machine
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="classifiers-save-btn" type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>