{% extends "base.html" %}
{% load static %}
{% block sidebar_header %}
<h1 class="text-white">RADON</h1>
<h6 class="text-white">DEFECT PREDICTION </h6>
{% endblock %}
{% block sidebar_content %}

<p class="px-3 text-white" style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 12px;">
    <span class="fa fa-book text-white"> </span> DOCUMENTATION</p>

<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link text-white" href="{% url 'api-docs' %}" target="_blank"> API Reference </a>
  </li>
</ul>
{% endblock %}

{% block navbar_content %}{% endblock %}

{% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 mb-3 mt-3 border-bottom">
    <p class="text-uppercase">Repositories</p>
    <div class="row" style="float:right;">
        <button id="id_add_repository" class="col btn btn-outline-secondary btn-sm ml-2 mr-2" style="float:right;" data-toggle="modal" data-target="#id_modal_add_repository">
            <span class="fa fa-plus"> </span>
        </button>
        <a class="col btn btn-primary btn-sm mr-3 fa fa-download" href="{% url 'web:repositories_dump' %}"  style="float:right;"> </a>
    </div>

</div>
<table id="table-repositories" class="display table table-striped table-bordered" style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 12px;">
    <thead>
        <tr>
            <th>Name</th>
            <th><span class="badge badge-primary">Commits/month</span></th>
            <th><span class="badge badge-primary">Issues/month</span></th>
            <th><span class="badge badge-primary">Core contributors</span></th>
            <th><span class="badge badge-primary">% comments</span></th>
            <th><span class="badge badge-primary">% iac files</span></th>
            <th><span class="badge badge-primary">Size</span></th>
            <th><span class="badge badge-primary">CI</span></th>
            <th><span class="badge badge-primary">License</span></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<!-- MODAL: add repository -->
<div class="modal" id="id_modal_add_repository" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title text-uppercase">Add repository</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group text-center mb-2" >
          <button id="dropdown-svc-button" type="button" class="btn btn-dark dropdown-toggle fa fa-github" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:150px; color:white; background-color:black;">
          &nbsp;Github
          </button>
          <div class="dropdown-menu">
            <a id="dropdown-svc-item" class="dropdown-item">Gitlab</a>
          </div>
        </div>

        <div class="form-group">
            <input id="input-svc-identifier" type="text" class="form-control" placeholder="owner/name" >
            <small id="svc-identifier-description" class="form-text text-muted">This is the Github repository full name.</small>
        </div>
        <div class="form-group">
            <input id="input-svc-api-token" type="password" class="form-control" placeholder="Personal access token">
            <small id="svc-api-token-description" class="form-text text-muted">This is the personal token to access the Github APIs.</small>
        </div>
      </div>

      <div class="modal-footer">
        <button id="confirm-add-repository" type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'web/js/add-repository.js' %}"> </script>

<script>

    function scoreRepo(repo_id, table, row){
        // patch repo
        const url = '{% url "web:repository_score" pk=0 %}'.replace('0', repo_id)
        $.ajax({
            url: url,
            method: 'GET',
            statusCode: {
                200: function(response){
                    var d = table.row(row).data();
                    console.log(response)
                    if(!jQuery.isEmptyObject(response)){
                        d['commit_frequency'] = response.commit_frequency;
                        d['issue_frequency'] = response.issue_frequency;
                        d['core_contributors'] = response.core_contributors;
                        d['percent_comments'] = parseFloat(response.comments_ratio * 100).toFixed(2);
                        d['percent_iac'] = parseFloat(response.iac_ratio * 100).toFixed(2);
                        d['sloc'] = response.repository_size;
                        d['has_ci'] = response.has_ci;
                        d['has_license'] = response.has_license;

                        table.row(row).data(d).draw()
                        toastr['success']('Resource updated successfully' , 'Success.')
                    }

                    $('#score-spinner-'+repo_id).hide()
                    $('#score-button-'+repo_id).show()
                },
                404: function(){
                     toastr['error']('Resource not found.' , 'Ops.')
                }
            }
        }).fail(function(msg){
            console.log(msg)
        })
    }

   // ====================== Populate repositories DataTable ====================== //
   $(document).ready(function() {
      toastr.options = {
        "closeButton": true,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": true,
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut",
      }

      var table = $('#table-repositories').DataTable({
            processing: true,
            ajax:  {
                url: '{% url "api:repositories-list" %}',
                type: "GET",
                dataSrc: ''
            },
            columns: [
                {
                  data: null,
                  render: function ( data, type, row ) {
                    var tag_a_name = `<a href="${data.url}" target="_blank"> ${data.full_name}</a>`

                    // Create button to redirect to repository details
                    url_to_repository_home = '{% url "web:repositories_index" %}' + data.id
                    var tag_a_button = `<a href="${url_to_repository_home}" class="btn btn-outline-primary btn-sm"  style="float: right;"> <small>See more</small> </a>`
                    return tag_a_name + tag_a_button
                  }
                },
                {
                    defaultContent: '-',
                    data: 'commit_frequency'
                },
                {
                    defaultContent: '-',
                    data: 'issue_frequency'
                },
                {
                    defaultContent: '-',
                    data: 'core_contributors'
                },
                {
                    defaultContent: '-',
                    data: 'percent_comments'
                },
                {
                    defaultContent: '-',
                    data: 'percent_iac'
                },
                {
                    defaultContent: '-',
                    data: 'sloc'
                },
                {
                    defaultContent: 'NA',
                    data: 'has_ci',
                    render: function ( data, type, row ) {
                        if(data && data)
                            return '<span class="fa fa-check" style="color: green;"></span>'
                        else
                            return '<span class="fa fa-times" style="color: red;"></span>'
                    }
                },
                {
                    defaultContent: 'NA',
                    data: 'has_license',
                    render: function ( data, type, row ) {
                        if(data && data)
                            return '<span class="fa fa-check" style="color: green;"></span>'
                        else
                            return '<span class="fa fa-times" style="color: red;"></span>'
                    }
                },
                {
                    data: null,
                    render: function ( data, type, row ) {
                        const spinner_score = `<span id="score-spinner-${data.id}" class="mt-2" style="float:right; display:none;"><i class="score-spinner fa fa-spinner fa-pulse" ></i></span>`
                        const btn_score = `<button id="score-button-${data.id}" class="score-button btn btn-outline-success btn-sm" style="float:right;">Score</button>`
                        const btn_delete = '<button class="delete-button btn btn-outline-danger btn-sm ml-2" style="float:right;">Delete</button>'
                        return btn_delete + btn_score + spinner_score
                    }
                }
            ]
      });

      // SCORE BUTTON
      $('#table-repositories tbody').on( 'click', 'button.score-button', function () {
           const data = table.row( $(this).parents('tr') ).data();
           //row_index = table.row( $(this).parents('tr')).index();
           //row = table.row($(this).parents('tr'));
           row = $(this).parents('tr');
           $('#score-button-'+data.id).hide()
           $('#score-spinner-'+data.id).show()

           // TODO: call a function to run RepositoryScorer (async). Pass the id to, and when finished update row
           scoreRepo(data.id, table, row)
      });

      // DELETE BUTTON
      $('#table-repositories tbody').on( 'click', 'button.delete-button', function () {

        var data = table.row( $(this).parents('tr') ).data();

        userWantsToDeleteRow = confirm("Do you really want to delete this repository? All data related to this " +
                                       "repository (e.g., fixing-commits) will be erased.");

        if(userWantsToDeleteRow){
            // Remove row from DataTable
            table.row($(this).parents('tr'))
                 .remove()
                 .draw();

            // Delete from db
            $.ajax({
                url: '{% url "api:repositories-list" %}' + data.id,
                method: 'DELETE',
                //data: {pk: data.id},
                statusCode: {
                    204: function(){
                        table.ajax.reload(null, false)
                        toastr['success']('Repository deleted successfully' , 'Success.')
                    },
                    404: function(){
                        toastr['warning']('Repository not found.' , 'Warning.')
                    },
                }
            });
        }
      });

      // ====================== ADD/confirm button ====================== //
      $("#confirm-add-repository").click(function(){
        if($("#input-svc-identifier").val().length == 0){
            toastr['warning']('Full name or id is mandatory!' , 'Warning.')
        }

        if($("#input-svc-identifier").val()){
            svc_item = $("#dropdown-svc-button").text().trim().toLowerCase()
            var token = $("#input-svc-api-token").val()

            if(svc_item == 'gitlab'){
                var project_id = $("#input-svc-identifier").val()

                $.ajax({
                     url: "https://gitlab.com/api/v4/projects/" + project_id,
                     type: "GET",
                     headers: {'PRIVATE-TOKEN': token },
                     success: function(response) {
                        var body = {
                            'id': response.id,
                            'full_name': response.namespace.full_path + '/' + response.name,
                            'url': response.web_url,
                            'default_branch': response.default_branch,
                            'description': response.description,
                            'created_at': response.created_at,
                            'star_count': response.star_count,
                        }

                        $.ajax({
                             url: '{% url "api:repositories-list" %}',
                             type: "POST",
                             data: body,
                             dataType: 'json',
                             statusCode: {
                                201: function(){
                                    toastr['success']('Repository added successfully' , 'Success.')
                                    table.ajax.reload(null, false)
                                },
                                409: function(){
                                    toastr['warning']('There already exists a repository like this.' , 'Warning.')
                                },
                             }
                        })
                     }
                }).fail(function (msg) {
                    toastr['error']('Repository not found. Make sure you inserted the right id/url or token.' , 'Error.')
                });
            }else{ // github
                full_name = $("#input-svc-identifier").val()

                url = '{% url "web:get_github_repo" %}?full_name_or_id=' + full_name
                $.ajax({
                     url: url,
                     type: "GET",
                     headers: {'token': token ? token : undefined},
                     statusCode: {
                        200: function(response){
                            $.ajax({
                                url: '{% url "api:repositories-list" %}',
                                type: "POST",
                                data: response,
                                dataType: 'json',
                                statusCode: {
                                    201: function(){
                                        toastr['success']('Repository added successfully' , 'Success.')
                                        table.ajax.reload(null, false)
                                    },
                                    409: function(){
                                        toastr['warning']('Repository already in the db.' , 'Warning.')
                                    }
                                }
                            })
                        },
                        401: function(){
                             toastr['error']('Please, make sure the provided token can access the repository' , 'Bad credentials.')
                        },
                        404: function(){
                             toastr['error']('The repository does not exist or is private' , 'Repository not found.')
                        },
                        500: function(){
                             toastr['error']('Internal server error' , 'Error.')
                        },
                     }
                })
            }

            // finally, dismiss modal
            $('#id_modal_add_repository').modal('hide');
        }
      });
   });
</script>

{% endblock %}




