{% extends "repository_template.html" %}

{% block body %}

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow shadow p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h1 class="card-title pricing-card-title"><small class="text-muted">Mine repository</small></h1>
        <button class="btn btn-lg btn-block btn-outline-primary" data-toggle="modal" data-target="#modal-mine">Mine</button>
      </div>
    </div>
    <div class="card mb-4 box-shadow  shadow p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h1 class="card-title pricing-card-title"><small class="text-muted"> Train a model </small></h1>
        <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'web:repository_train_settings' repository.id %}" role="button">Train</a>
      </div>
    </div>
  </div>
</div>

<!-- MODAL MINE -->
{% include 'modal_mine.html' %}


{% endblock %}

{% block javascript %}
{% load static %}
<script src="{% static 'web/js/modal-mine.js' %}"> </script>

<script>
function longPollingMining(taskID){
  var url = '{% url "api:tasks-detail" pk=0 %}'.replace('0', taskID)
  $.ajax({
    url: url,
    type: "GET",
    statusCode: {
      200: function(response) {

        if(response.state == 'completed'){
          fixing_commits_url = "{% url 'web:repository_fixing_commits' repository.id %}"

          var msg = 'Task completed'

          if(response.name == 'mine-fixed-files'){
            msg = 'Mining completed'
          }else if(response.name == 'extract-metrics'){
            msg = 'Metrics extraction completed'
          }else if(response.name == 'train'){
            msg = 'Training completed'
          }

          toastr['success'](msg, 'Hooray!')

        }else if(response.state == 'error'){
          toastr['error']('The server failed to fulfill task ' + taskID, 'Error')

        }else if(response.state == 'accepted' || response.state == 'running') {
          setTimeout(function() { longPollingMining(taskID); }, 10000);
        }
      }
    }
  })
}

function handleRunningTasks(){
  $.ajax({
    url: '{% url "api:tasks-list" %}?state=running&repository=' + {{ repository.id }},
    type: "GET",
    statusCode: {
      200: function(response) {
        for(const task of response){
          longPollingMining(task.id)
        }
      }
    }
  })
}


$(document).ready(function(){
  toastr.options = {
      "closeButton": true,
      "positionClass": "toast-bottom-right",
      "timeOut": 0,
      "extendedTimeOut": 0,
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
  }

  handleRunningTasks()

  $("#mine-form").on('submit', function(event){
    event.preventDefault();

    var labels = undefined
    if($("#input-labels").val()){
      labels = $("#input-labels").val().split(',')
    }

    var language = $("#dropdown-mine-language-btn").text().trim().toLowerCase()

    payload = JSON.stringify({
      'language': language,
      'labels': labels,
      'regex': $("#input-regex").val(),
    })

    // Call { url repository_mine }
    $.ajax({
         url: '{% url "web:repository_mine" pk=repository.id %}',
         type: "POST",
         headers: {
            'X-CSRFToken': '{{ csrf_token }}'
         },
         data: payload,
         dataType: 'json',
         statusCode: {
            202: function(response) {
                toastr.clear()
                toastr.options = {
                    "closeButton": true,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": true,
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }

                toastr['info']('The mining is started. You will get notified when completed... <span><i class="fa fa-spinner fa-pulse"></i></span>', 'Started!')
                longPollingMining(response)
            },
            500: function(response) {
              toastr.remove()
              toastr.options = {
                  "closeButton": true,
                  "positionClass": "toast-bottom-right",
                  "preventDuplicates": true,
                  "showMethod": "fadeIn",
                  "hideMethod": "fadeOut"
              }
              toastr['error']('The server failed to fulfill the request!', 'Error: 500')
            }
         }
    })

    // finally, dismiss modal
    $('#modal-mine').modal('hide');
    $('body').removeClass('modal-open');
    $('.modal-backdrop').remove();
  });

});
</script>

{% endblock %}


