{% extends "base.html" %}
{% load static %}

{% block head %}{% endblock %}

{% block sidebar_header %}
<h1 class="text-white">RADON</h1>
<h6 class="text-white">DEFECT PREDICTION </h6>
{% endblock %}
{% block sidebar_content %}

<p class="px-3 text-white" style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 12px;">
    <span class="fa fa-book text-white"> </span> DOCUMENTATION</p>

<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link text-white" href="{% url 'api-docs' %}" target="_blank"> API Reference </a>
  </li>
</ul>
{% endblock %}

{% block navbar_content %}{% endblock %}

{% block body %}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 mb-3 mt-3 border-bottom">
    <p class="text-uppercase">Repositories</p>

    <div class="row" style="float:right;">
        <button id="id_add_repository" class="col btn btn-outline-secondary btn-sm ml-2 mr-2" style="float:right;" data-toggle="modal" data-target="#id_modal_add_repository">
            <span class="fa fa-plus"> </span>
        </button>

        <a class="col btn btn-primary btn-sm mr-2 fa fa-upload" data-toggle="modal" data-target="#modal_import_repositories" style="float:right;"> </a>
        <a class="col btn btn-primary btn-sm mr-3 fa fa-download" href="{% url 'web:repositories_dump' %}"  style="float:right;"> </a>
    </div>
</div>

<!-- Progress Bar -->
<div id="div-progressbar" class="progress mb-4 mt-4" style="display:none;">
  <span id="progressbar-upload" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"> </span>
</div>

<table id="table-repositories" class="display table table-striped table-bordered" style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 12px;">
    <thead>
        <tr>
            <th>Name</th>
            <th><span class="badge badge-primary">Commits/month</span></th>
            <th><span class="badge badge-primary">Issues/month</span></th>
            <th><span class="badge badge-primary">Core contributors</span></th>
            <th><span class="badge badge-primary">% comments</span></th>
            <th><span class="badge badge-primary">% iac files</span></th>
            <th><span class="badge badge-primary">Size</span></th>
            <th><span class="badge badge-primary">CI</span></th>
            <th><span class="badge badge-primary">License</span></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>



<!-- MODAL: import repository -->
<div class="modal" id="modal_import_repositories" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title text-uppercase">Import repositories</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input id="file-selector-repositories" type ="file" accept=".json">
      </div>

      <div class="modal-footer">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>



<!-- MODAL: add repository -->
<div class="modal" id="id_modal_add_repository" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title text-uppercase">Add repository</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group text-center mb-2" >
          <button id="dropdown-svc-button" type="button" class="btn btn-dark dropdown-toggle fa fa-github" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:150px; color:white; background-color:black;">
          &nbsp;Github
          </button>
          <div class="dropdown-menu">
            <a id="dropdown-svc-item" class="dropdown-item">Gitlab</a>
          </div>
        </div>

        <div class="form-group">
            <input id="input-svc-identifier" type="text" class="form-control" placeholder="owner/name" >
            <small id="svc-identifier-description" class="form-text text-muted">This is the Github repository full name.</small>
        </div>
        <div class="form-group">
            <input id="input-svc-api-token" type="password" class="form-control" placeholder="Personal access token">
            <small id="svc-api-token-description" class="form-text text-muted">This is the personal token to access the Github APIs.</small>
        </div>
      </div>

      <div class="modal-footer">
        <button id="confirm-add-repository" type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block javascript %}
<script src="{% static 'web/js/add-repository.js' %}"> </script>

<script>

var steps=0

var initializeProgressbar = function(){
    steps = 0
    $("#div-progressbar").show()
    $("#progressbar-upload").attr('aria-valuenow', 0).css('width', '0%');
}

var uploadProgressbar = function(value){
    steps += 1
    value = Math.ceil(value*steps);
    $("#progressbar-upload").attr('aria-valuenow', value).css('width', value.toString()+'%');
    if(value == 100){
        toastr['success']('Repositories imported successfully' , 'Success.')
        $("#div-progressbar").hide()
        location.reload()
    }
}


$('#file-selector-repositories').on('change',  (event) => {
    var file = document.getElementById('file-selector-repositories').files[0];
    event.preventDefault()
    var reader = new FileReader();
    reader.readAsText(file, "UTF-8");
    reader.onload = function (evt) {

        $('#modal_import_repositories').modal('toggle');

        let content = evt.target.result.toString()
        let repos = JSON.parse(content)

        initializeProgressbar()
        let step_value = parseFloat(100 / repos.length)

        for(repo of repos){
            $.ajax({
                 url: '{% url "api:repositories-list" %}',
                 type: "POST",
                 data: repo,
                 dataType: 'json',
                 statusCode: {
                    201: function(){
                        uploadProgressbar(step_value)
                    },
                    409: function(){
                        toastr['warning'](repo.full_name + ' already exists.' , 'Warning.')
                        uploadProgressbar(step_value)
                    },
                 }
            })
        }

    }
});

</script>


<script>

var inProgress = [] // list of repositories (id) currently scoring

function longPollingScoring(taskID, table){
  $.ajax({
    url: '{% url "api:tasks-detail" pk=0 %}'.replace('0', taskID),
    type: "GET",
    statusCode: {
      200: function(response) {

        table.rows().every( function ( rowIdx, tableLoop, rowLoop ) {
            var data = this.data();

            if(data.id == response.repository){

                if(response.state == 'completed'){

                    $.ajax({
                        url: '{% url "api:repositories-detail" pk=0 %}'.replace('0', data.id),
                        type: "GET",
                        success: function(response) {
                            const index = inProgress.indexOf(data.id);
                            if (index !== -1) {
                              inProgress.splice(index, 1);
                            }

                            table.ajax.reload(null, false)
                        },
                        fail: function(response) {
                           console.log(response)
                        }
                    })

                    data_id_html = data.id.toString().replaceAll('=','')
                    $('#score-spinner-'+data_id_html).hide()
                    $('#score-button-'+data_id_html).show()
                    toastr['success']('End scoring for repository ' + data.full_name, 'Success')

                }else if(response.state == 'error'){
                    data_id_html = data.id.toString().replaceAll('=','')
                    $('#score-spinner-'+data_id_html).hide()
                    $('#score-button-'+data_id_html).show()
                    toastr['error']('The server failed to score ' + data.full_name, 'Error')

                }else if(response.state == 'accepted' || response.state == 'running') {
                  setTimeout(function() { longPollingScoring(taskID, table); }, 2000);
                }
                // Call GET repository and update row
                if(data['indicators'] == undefined) {
                    data['indicators'] = {}
                }
            }
        });
      }
    }
  })
}

function scoreRepo(repo_id, table, row){
    $.ajax({
        url: '{% url "web:repository_score" pk=0 %}'.replace('0', repo_id),
        method: 'GET',
        statusCode: {
            202: function(taskID){
                toastr['info']('Scoring repository' , 'Accepted.')
                longPollingScoring(taskID, table)
            },
            404: function(){
                 toastr['error']('Resource not found.' , 'Ops.')
            }
        }
    }).fail(function(msg){
        console.log(msg)
    })
}


// ====================== Populate repositories DataTable ====================== //
$(document).ready(function() {
  toastr.options = {
    "closeButton": true,
    "positionClass": "toast-bottom-right",
    "preventDuplicates": true,
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut",
  }

  var table = $('#table-repositories').DataTable({
        processing: true,
        ajax:  {
            url: '{% url "api:repositories-list" %}',
            type: "GET",
            dataSrc: function (json){
               for(obj of json) {
                   if(obj.indicators.comments_ratio != undefined){
                      percent_comments = parseFloat(obj.indicators.comments_ratio * 100).toFixed(2);
                      percent_iac = parseFloat(obj.indicators.iac_ratio *100).toFixed(2);
                   }
                   if(obj.indicators.comments_ratio != undefined){
                       obj.indicators.comments_ratio = percent_comments;
                       obj.indicators.iac_ratio = percent_iac;
                   }
               }

               return json;
            }
        },
        columns: [
            {
              data: null,
              render: function ( data, type, row ) {
                var tag_a_name = `<a href="${data.url}" target="_blank"> ${data.full_name}</a>`

                // Create button to redirect to repository details
                url_to_repository_home = '{% url "web:repositories_index" %}' + data.id
                var tag_a_button = `<a href="${url_to_repository_home}" class="btn btn-outline-primary btn-sm"  style="float: right;"> <small>See more</small> </a>`
                return tag_a_name + tag_a_button
              }
            },
            {
                defaultContent: '-',
                data: 'indicators.commit_frequency'
            },
            {
                defaultContent: '-',
                data: 'indicators.issue_frequency'
            },
            {
                defaultContent: '-',
                data: 'indicators.core_contributors'
            },
            {
                defaultContent: '-',
                data: 'indicators.comments_ratio'
            },
            {
                defaultContent: '-',
                data: 'indicators.iac_ratio'
            },
            {
                defaultContent: '-',
                data: 'indicators.repository_size'
            },
            {
                defaultContent: 'NA',
                data: 'indicators.has_ci',
                render: function ( data, type, row ) {
                    if(data && data)
                        return '<span class="fa fa-check" style="color: green;"></span>'
                    else
                        return '<span class="fa fa-times" style="color: red;"></span>'
                }
            },
            {
                defaultContent: 'NA',
                data: 'indicators.has_license',
                render: function ( data, type, row ) {
                    if(data && data)
                        return '<span class="fa fa-check" style="color: green;"></span>'
                    else
                        return '<span class="fa fa-times" style="color: red;"></span>'
                }
            },
            {
                data: null,
                render: function ( data, type, row ) {

                    const display_spinner = inProgress.includes(data.id) ? 'inline' : 'none'
                    const display_btn_score = inProgress.includes(data.id) ? 'none' : 'inline'

                    data_id_html = data.id.toString().replaceAll('=','')
                    const spinner_score = `<span id="score-spinner-${data_id_html}" class="mt-2" style="float:right; display:${display_spinner};"><i class="score-spinner fa fa-spinner fa-pulse" ></i></span>`
                    const btn_score = `<button id="score-button-${data_id_html}" class="score-button btn btn-outline-success btn-sm" style="float:right; display:${display_btn_score};">Score</button>`
                    const btn_delete = '<button class="delete-button btn btn-outline-danger btn-sm ml-2" style="float:right;">Delete</button>'
                    return btn_delete + btn_score + spinner_score
                }
            }
        ]
  });

  // SCORE BUTTON
  $('#table-repositories tbody').on( 'click', 'button.score-button', function () {
       const data = table.row( $(this).parents('tr') ).data();
       row = $(this).parents('tr');

       data_id_html = data.id.toString().replaceAll('=','')
       $('#score-button-'+data_id_html).hide()
       $('#score-spinner-'+data_id_html).show()

       inProgress.push(data.id)
       scoreRepo(data.id, table, row)
  });

  // DELETE BUTTON
  $('#table-repositories tbody').on( 'click', 'button.delete-button', function () {

    var data = table.row( $(this).parents('tr') ).data();

    userWantsToDeleteRow = confirm("Do you really want to delete this repository? All data related to this " +
                                   "repository (e.g., fixing-commits) will be erased.");

    if(userWantsToDeleteRow){
        // Remove row from DataTable
        table.row($(this).parents('tr'))
             .remove()
             .draw();

        // Delete from db
        $.ajax({
            url: '{% url "api:repositories-list" %}' + data.id,
            method: 'DELETE',
            //data: {pk: data.id},
            statusCode: {
                204: function(){
                    table.ajax.reload(null, false)
                    toastr['success']('Repository deleted successfully' , 'Success.')
                },
                404: function(){
                    toastr['warning']('Repository not found.' , 'Warning.')
                },
            }
        });
    }
  });

  // ====================== ADD/confirm button ====================== //
  $("#confirm-add-repository").click(function(){
    if($("#input-svc-identifier").val().length == 0){
        toastr['warning']('Full name or id is mandatory!' , 'Warning.')
    }

    if($("#input-svc-identifier").val()){
        svc_item = $("#dropdown-svc-button").text().trim().toLowerCase()
        var token = $("#input-svc-api-token").val()

        if(svc_item == 'gitlab'){
            var project_id = $("#input-svc-identifier").val()

            $.ajax({
                 url: "https://gitlab.com/api/v4/projects/" + project_id,
                 type: "GET",
                 headers: {'PRIVATE-TOKEN': token },
                 success: function(response) {
                    var body = {
                        'id': response.id,
                        'full_name': response.namespace.full_path + '/' + response.name,
                        'url': response.web_url,
                        'default_branch': response.default_branch,
                        'description': response.description,
                        'created_at': response.created_at,
                        'star_count': response.star_count
                    }

                    $.ajax({
                         url: '{% url "api:repositories-list" %}',
                         type: "POST",
                         data: body,
                         dataType: 'json',
                         statusCode: {
                            201: function(){
                                toastr['success']('Repository added successfully' , 'Success.')
                                table.ajax.reload(null, false)
                            },
                            409: function(){
                                toastr['warning']('There already exists a repository like this.' , 'Warning.')
                            },
                         }
                    })
                 }
            }).fail(function (msg) {
                toastr['error']('Repository not found. Make sure you inserted the right id/url or token.' , 'Error.')
            });
        }else{ // github
            full_name = $("#input-svc-identifier").val()

            url = '{% url "web:get_github_repo" %}?full_name_or_id=' + full_name
            $.ajax({
                 url: url,
                 type: "GET",
                 headers: {'token': token ? token : undefined},
                 statusCode: {
                    200: function(response){
                        $.ajax({
                            url: '{% url "api:repositories-list" %}',
                            type: "POST",
                            data: response,
                            dataType: 'json',
                            statusCode: {
                                201: function(){
                                    toastr['success']('Repository added successfully' , 'Success.')
                                    table.ajax.reload(null, false)
                                },
                                409: function(){
                                    toastr['warning']('Repository already in the db.' , 'Warning.')
                                }
                            }
                        })
                    },
                    401: function(){
                         toastr['error']('Please, make sure the provided token can access the repository' , 'Bad credentials.')
                    },
                    404: function(){
                         toastr['error']('The repository does not exist or is private' , 'Repository not found.')
                    },
                    500: function(){
                         toastr['error']('Internal server error' , 'Error.')
                    },
                 }
            })
        }

        // finally, dismiss modal
        $('#id_modal_add_repository').modal('hide');
    }
  });
});
</script>

{% endblock %}




