{% extends "base.html" %}
{% load static %}
{% block title %}{{ repository.owner }}/{{ repository.name }}{% endblock %}
{% block sidebar_header %}
<p class="text-white">
  <span>{{ repository.owner }}/{{ repository.name }}</span>
</p>
{% endblock %}
{% block sidebar_content %}
<a href="{% url 'web:repository_home' repository.id %}" class="list-group-item list-group-item-action bg-dark text-white">Dashboard</a>
<a href="{% url 'web:repository_fixing_commits' repository.id %}" class="list-group-item list-group-item-action bg-dark text-white">Fixing commits</a>
<a href="#" class="list-group-item list-group-item-action bg-dark text-white">Fixing files</a>
{% endblock %}

{% block body %} {% endblock %}
{% block javascript %}{% endblock %}
