/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */


.custom-snackbar {
    background: #2196F3;
    button {background:white; color: blue}
}

.fab-container {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 100;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  
    > div {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      margin-bottom: 5px;
  
      button {
        margin-bottom: 17px;
      }
    }
  }
  
  .fab-toggler {
    float: right;
    z-index: 100;
}

#fab-dismiss {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}