<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Empty layout -->
<!-- ----------------------------------------------------------------------------------------------------- -->
<empty-layout *ngIf="layout === 'empty'"></empty-layout>

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Layouts with horizontal navigation -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<!-- Centered -->
<centered-layout *ngIf="layout === 'centered'"></centered-layout>



<!--            &lt;!&ndash; Scheme &ndash;&gt;-->
<!--            <div class="text-md font-semibold text-secondary">SCHEME</div>-->
<!--            <div class="grid grid-cols-3 gap-3 justify-items-start mt-6">-->
<!--                &lt;!&ndash; Auto &ndash;&gt;-->
<!--                <div-->
<!--                    class="flex items-center py-3 pl-5 pr-6 rounded-full cursor-pointer ring-inset ring-primary bg-hover"-->
<!--                    [class.ring-2]="config.scheme === 'auto'"-->
<!--                    [matTooltip]="'Automatically sets the scheme based on user\'s operating system\'s color scheme preference using \'prefer-color-scheme\' media query.'"-->
<!--                    (click)="setScheme('auto')">-->
<!--                    <div class="flex items-center rounded-full overflow-hidden">-->
<!--                        <mat-icon-->
<!--                            class="icon-size-5"-->
<!--                            [svgIcon]="'heroicons_solid:lightning-bolt'"></mat-icon>-->
<!--                    </div>-->
<!--                    <div-->
<!--                        class="flex items-center ml-2 font-medium leading-5"-->
<!--                        [class.text-secondary]="config.scheme !== 'auto'">-->
<!--                        Auto-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; Dark &ndash;&gt;-->
<!--                <div-->
<!--                    class="flex items-center py-3 pl-5 pr-6 rounded-full cursor-pointer ring-inset ring-primary bg-hover"-->
<!--                    [class.ring-2]="config.scheme === 'dark'"-->
<!--                    (click)="setScheme('dark')">-->
<!--                    <div class="flex items-center rounded-full overflow-hidden">-->
<!--                        <mat-icon-->
<!--                            class="icon-size-5"-->
<!--                            [svgIcon]="'heroicons_solid:moon'"></mat-icon>-->
<!--                    </div>-->
<!--                    <div-->
<!--                        class="flex items-center ml-2 font-medium leading-5"-->
<!--                        [class.text-secondary]="config.scheme !== 'dark'">-->
<!--                        Dark-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; Light &ndash;&gt;-->
<!--                <div-->
<!--                    class="flex items-center py-3 pl-5 pr-6 rounded-full cursor-pointer ring-inset ring-primary bg-hover"-->
<!--                    [class.ring-2]="config.scheme === 'light'"-->
<!--                    (click)="setScheme('light')">-->
<!--                    <div class="flex items-center rounded-full overflow-hidden">-->
<!--                        <mat-icon-->
<!--                            class="icon-size-5"-->
<!--                            [svgIcon]="'heroicons_solid:sun'"></mat-icon>-->
<!--                    </div>-->
<!--                    <div-->
<!--                        class="flex items-center ml-2 font-medium leading-5"-->
<!--                        [class.text-secondary]="config.scheme !== 'light'">-->
<!--                        Light-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

