<div class="flex flex-col items-center justify-center w-full h-full">
    <div class="w-full max-w-3xl">
        <div class="max-w-none mx-auto prose prose-sm">
            <img
                class="w-20"
                src="assets/images/logo/logo.svg"
                alt="Logo image">
            <h1>Defuse</h1>
            <p>
                Defuse helps developers to build organized and efficient machine learning models for defect prediction.
                Join us and start building your application today.
            </p>
            <p>
                It provides a fully integrated machine-learning framework for language-agnostic Defect Prediction, that allows for repository crawling, metrics collection, model building, evaluation, and deployment.
            </p>
        </div>
        <div>
            <a
                class="mt-8"
                mat-flat-button
                [color]="'primary'"
                [routerLink]="'/repositories'">
                <span>Launch the App</span>
                <mat-icon
                    class="ml-2 icon-size-5"
                    [svgIcon]="'heroicons_solid:arrow-narrow-right'"></mat-icon>
            </a>
        </div>
    </div>
</div>
