<div class="flex flex-col w-full">

    <!-- View mode -->
    <ng-container>

        <!-- Header -->
        <div class="relative w-full h-20 sm:h-24 px-8 sm:px-12 bg-accent-700 dark:bg-accent-700">
            <!-- Close button -->
            <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6">
                <a
                    mat-icon-button
                    [matTooltip]="'Close'"
                    [routerLink]="['../']">
                    <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                </a>
            </div>
        </div>

        <!-- Commit -->
        <ng-container *ngIf="commit">

            <div class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0">
                <div class="w-full max-w-3xl">

                    <!-- Commit hash -->
                    <div class="mt-4 text-2xl font-bold truncate">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:link'"></mat-icon>
                            <div class="ml-4 leading-6">
                                <a
                                    class="hover:underline text-primary-500"
                                    href="{{ commit.url }}"
                                    target="_blank">
                                    {{commit.hash}}
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Tags -->
                    <div class="flex flex-wrap items-center -m-1.5 mt-6">
                    
                        <!-- Tags -->
                        <ng-container *ngIf="commit.defects.length">
                            <ng-container *ngFor="let tag of commit.defects; trackBy: trackDefectsByFn">
                                <div class="flex items-center justify-center px-4 m-1.5 rounded-full leading-9 text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                                    <span class="text-md font-medium whitespace-nowrap">{{tag}}</span>
                                </div>
                            </ng-container>
                        </ng-container>

                        <!-- Tags panel and its button -->
                        <div
                            class="flex items-center justify-center px-4 m-1.5 rounded-full leading-9 cursor-pointer text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700"
                            (click)="openTagsPanel()"
                            #tagsPanelOrigin>

                            <ng-container *ngIf="commit.defects.length">
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                                <span class="ml-1.5 text-md font-medium whitespace-nowrap">Edit</span>
                            </ng-container>

                            <ng-container *ngIf="!commit.defects.length">
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                                <span class="ml-1.5 text-md font-medium whitespace-nowrap">Add</span>
                            </ng-container>

                            <!-- Tags panel -->
                            <ng-template #tagsPanel>
                                <tags-panel [commit]="commit" (onDefectsChanged)="onDefectsChanged($event)"></tags-panel>
                            </ng-template>
                        </div>
                    </div>

                    <!-- Message -->
                    <ng-container *ngIf="commit.msg">
                        <div class="flex mt-4">
                            <mat-icon [svgIcon]="'heroicons_outline:menu-alt-2'"></mat-icon>
                            <div class="max-w-none ml-4 prose prose-sm" [innerHTML]="commit.msg"></div>
                        </div>
                    </ng-container>

                    <!-- Fixed files label -->
                    <div class="flex mt-4">
                        <mat-icon [svgIcon]="'heroicons_outline:document-duplicate'"></mat-icon>
                        <div class="max-w-none ml-4 prose prose-sm font-medium text-secondary">Fixed files</div>
                    </div>

                    <div class="mt-2">
                        <fixed-files-list [commit]="commit"></fixed-files-list>
                    </div>
                </div>  
            </div>
        </ng-container>

    </ng-container>
</div>