/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */


.custom-snack-bar {
    background-color: white !important;
    color: black !important;
    button {color: primary !important;}
}

::-webkit-scrollbar {
    width: 3px;
    overflow-y: scroll;
    background: transparent !important;
    box-shadow: inset 0 0 3px #707070;
}

::-webkit-scrollbar-thumb {
    background: blue;
    border-radius: 10px;
}
