<div class="relative flex items-center h-full grid grid-cols-10 gap-4" >
    <div class="col-span-9 flex flex-col"> <a href="item.url">{{item.full_name}}</a></div>

    <span class="col-span-1 flex flex-col items-center justify-center">

        <div class="flex flex-shrink-0 items-center sm:ml-4 gap-2">
            <button mat-icon-button>
                <a [routerLink]="['/repository', item.id, 'dashboard']" target="_blank">
                    <mat-icon style="transform: scale(0.75);">launch</mat-icon>
                </a>
            </button>
            <button mat-icon-button (click)="onDelete()">
                <mat-icon style="transform: scale(0.75); color: red;">delete_outline</mat-icon>
            </button>
        </div>

    </span>
</div>
