<div class="flex flex-row items-center justify-between py-4 px-0.5">
    <div class="flex flex-col">
        <div class="font-medium col-span-9 flex flex-col"> <a [routerLink]="['/repository', item.id, 'dashboard']">{{item.full_name}}</a></div>

        <div class="flex flex-col sm:flex-row sm:items-center -ml-0.5 mt-2 sm:mt-1 space-y-1 sm:space-y-0 sm:space-x-3 grid grid-cols-7 gap-4">

            <div class="flex col-span-1 items-start justify-start">
                <ng-container *ngIf="item.commit_frequency">
                    <mat-icon class="icon-size-5 text-hint">linear_scale</mat-icon>
                    <div class="ml-1.5 text-md text-secondary">{{item.commit_frequency | number:'1.0-0'}}</div>
                </ng-container>
            </div>
            <div class="flex col-span-1 items-start justify-start">
                <ng-container *ngIf="item.comments_ratio">
                    <mat-icon class="icon-size-5 text-hint">comments</mat-icon>
                    <div class="ml-1 text-md text-secondary">{{item.comments_ratio | percent}}</div>
                </ng-container>
            </div>

            <div class="flex col-span-1 items-start justify-start">
                <ng-container *ngIf="item.core_contributors">
                    <mat-icon class="icon-size-5 text-hint">supervised_user_circle</mat-icon>
                    <div class="ml-1 text-md text-secondary">{{item.core_contributors}}</div>
                </ng-container>
            </div>

            <div class="flex col-span-1 items-start justify-start">
                <ng-container *ngIf="item.has_ci">
                    <mat-icon class="icon-size-5 text-hint">all_inclusive</mat-icon>
                </ng-container>
            </div>

            <div class="flex col-span-1 items-start justify-start">
                <ng-container *ngIf="item.has_license">
                    <mat-icon class="icon-size-5 text-hint">copyright</mat-icon>
                </ng-container>
            </div>

            <div class="flex col-span-1 items-start justify-start">
                <ng-container *ngIf="item.iac_ratio">
                    <mat-icon class="icon-size-5 text-hint">description</mat-icon>
                    <div class="ml-1 text-md text-secondary">{{item.iac_ratio | percent}}</div>
                </ng-container>
            </div>

            <div class="flex col-span-1  items-start justify-start">
                <ng-container *ngIf="item.size">
                    <mat-icon class="icon-size-5 text-hint">code</mat-icon>
                    <div class="ml-1 text-md text-secondary">{{item.size}}</div>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="flex flex-shrink-0 items-center sm:ml-4 gap-2">
        <button mat-icon-button (click)="onScore()">
            <mat-icon>score</mat-icon>
        </button>
        <button mat-icon-button>
            <a href="{{item.url}}" target="_blank">
                <mat-icon>launch</mat-icon>
            </a>
        </button>
        <button mat-icon-button (click)="onDelete()">
            <mat-icon style="color: red;">delete_outline</mat-icon>
        </button>
    </div>
</div>
