<!-- Main -->
<div class="flex flex-col flex-auto">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b bg-card dark:bg-transparent">
        <!-- Title -->
        <div>
            <div class="text-4xl font-extrabold tracking-tight leading-none">Tasks</div>
            <div class="ml-0.5 font-medium text-secondary">
                <span *ngIf="tasksCount.incomplete === 0">All tasks completed!</span>
                <span *ngIf="tasksCount.incomplete !== 0">{{tasksCount.incomplete}} remaining tasks</span>
            </div>
        </div>
    </div>

    <!-- Tasks list -->
    <ng-container *ngIf="tasks && tasks.length > 0; else noTasks">
        <div class="divide-y">

            <!-- Task -->
            <div
                [id]="task.id"
                class="group w-full h-16 select-none hover:bg-hover"
                *ngFor="let task of tasks; trackBy: trackTaskById"
                [ngClass]="{'text-md font-semibold bg-gray-100 dark:bg-card': task.in_progress,
                            'text-hint': !task.in_progress}">

                <task-item [task]="task" (deleted)="onDelete($event)" (log)="onVisualizeLog($event)"></task-item>
            </div>
        </div>

    </ng-container>

    <ng-template #noTasks>
        <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
            <mat-icon
                class="icon-size-24"
                [svgIcon]="'iconsmind:bulleted_list'"></mat-icon>
            <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">No task ran so far!</div>
        </div>
    </ng-template>

</div>
