<!-- Main -->
<div class="flex flex-col flex-auto">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Title -->
        <div>
            <div class="text-4xl font-extrabold tracking-tight leading-none">Tasks</div>
            <div class="ml-0.5 font-medium text-secondary">
                <span *ngIf="tasksCount.incomplete === 0">All tasks completed!</span>
                <span *ngIf="tasksCount.incomplete !== 0">{{tasksCount.incomplete}} remaining tasks</span>
            </div>
        </div>
    </div>

    <!-- Tasks list -->
    <ng-container *ngIf="tasks && tasks.length > 0; else noTasks">
        <div class="divide-y">

            <!-- Task -->
            <div
                [id]="task.id"
                class="group w-full h-16 select-none hover:bg-hover"
                *ngFor="let task of tasks; trackBy: trackByFn"
                [ngClass]="{'text-md font-semibold bg-gray-100 dark:bg-card': task.in_progress,
                            'text-hint': !task.in_progress}">

                <!-- Task content -->
                <div class="relative flex items-center h-full pl-10 pr-10  grid grid-cols-6 gap-4">


                    <span class="col-span-1 flex flex-shrink-0 items-center">
                        <!-- Task status icon -->
                        <ng-container *ngIf="!task.in_progress">
                            <mat-icon
                                class="text-primary"
                                [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                        </ng-container>
                        <ng-container *ngIf="task.in_progress">
                            <mat-icon
                                class="text-hint"
                                [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                        </ng-container>

                        <!-- Id -->
                        <div class="text-sm text-left flex-auto mr-2 truncate ml-4">
                            <ng-container>
                                <span>{{task.id}}</span>
                            </ng-container>
                        </div>
                    </span>


                    <!-- Name -->
                    <div class="col-span-1 flex flex-col items-start justify-center truncate">
                        <div class="text-sm flex-auto mr-2 truncate ml-4" style="text-align:left">
                            <ng-container>
                                <span>{{task.name | titlecase}}</span>
                            </ng-container>
                            <ng-container *ngIf="task.defect">
                                <span>&nbsp;{{task.defect}}</span>
                            </ng-container>

                        </div>
                    </div>

                    <!-- Language -->
                    <div class="col-span-1 flex flex-col items-start justify-center">
                        <div class="text-sm flex-auto mr-2 truncate ml-4">
                            <ng-container>
                                <span>{{task.language | titlecase}}</span>
                            </ng-container>
                        </div>
                    </div>

                    <!-- Status -->
                    <div class="col-span-1 flex flex-col items-start justify-center">
                        <div
                            class="relative flex items-center px-4 leading-6 rounded-full mr-8"
                            [ngClass]="{'text-blue-500 bg-blue-100 dark:text-blue-300 dark:bg-blue-700': task.in_progress,
                                        'text-green-800 bg-green-200 dark:text-green-100 dark:bg-green-500': task.completed,
                                        'text-red-800 bg-red-200 dark:text-red-100 dark:bg-red-500': task.failed}">

                            <span class="text-sm text-center font-medium min-w-20 flex-shrink-0 items-center">
                                <ng-container *ngIf="task.completed">Completed</ng-container>
                                <ng-container *ngIf="task.failed">Failed</ng-container>
                                <ng-container *ngIf="task.in_progress">
<!--                                    <mat-icon-->
<!--                                        class="icon-size-4 text-white animate-spin-slow"-->
<!--                                        [svgIcon]="'heroicons_solid:cog'">-->
<!--                                    </mat-icon>-->
                                    In progress
                                </ng-container>
                            </span>
                        </div>
                    </div>

                    <!-- StartedAt -->
                    <div class="col-span-1 flex flex-col items-start justify-center">
                        <div class="text-sm whitespace-nowrap text-secondary">
                            {{task.started_at * 1000 | date:'LLL dd HH:mm:ss'}}
                        </div>
                    </div>

                    <!-- EndedAt -->
                    <div class="col-span-1 flex flex-col items-start justify-center">
                        <ng-container *ngIf="task.ended_at">
                            <div class="text-sm whitespace-nowrap text-secondary ml-4">
                                {{task.ended_at * 1000 | date:'LLL dd HH:mm:ss'}}
                            </div>
                        </ng-container>
                    </div>
                </div>

            </div>

        </div>

    </ng-container>

    <ng-template #noTasks>
        <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
            <mat-icon
                class="icon-size-24"
                [svgIcon]="'iconsmind:bulleted_list'"></mat-icon>
            <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">No task ran so far!</div>
        </div>
    </ng-template>

</div>

