<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://getbootstrap.com/docs/4.1/examples/dashboard/dashboard.css">

{% block repository_details_head %} {% endblock %}

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url 'repositories_index'%}"> RADON</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
</nav>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>{{ repository.owner|add:'/'|add:repository.name }}</span>
          <a class="d-flex align-items-center text-muted" href="{{ repository.url }}" target="_blank">
            <span data-feather="github"></span>
          </a>
        </h6>

        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'repository_main' repository.id %}">
              <span data-feather="home"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'repository_fixing_commits' repository.id %}" >
              <span data-feather="git-commit"></span>
              Fixing commits
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'repository_fixing_files' repository.id %}">
              <span data-feather="tool"></span>
              Fixing files
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'repository_labeled_files' repository.id %}">
              <span data-feather="tag"></span>
              Labeled files
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>ACTIONS</span>
        </h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'repository_score' repository.id %}">
              <span data-feather="star"></span>
              Compute scores
            </a>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'repository_mine' repository.id %}" >
              <span data-feather="play-circle"></span>
              Mine
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="tool"></span>
              Train
            </a>
          </li>
        </ul>

        <div class="mt-4" style="text-align:center;">
          <button class="btn btn-sm btn-outline-secondary">
            <span data-feather="download"> </span> Export</button>
        </div>
      </div>
    </nav>
  </div>
</div>

{% block repository_details_content %}{% endblock %}

<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace()
</script>
