{% extends "repository_detail.html" %}

{% block repository_details_content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 mb-3 border-bottom">
    <p class="text-uppercase">Fixing-commits</p>
  </div>
  <small>These are the commits identified as fixing defects based on the provided list of bug-related issues labels and regex.</small>

  <table id="table-tp-commits" class="display table table-striped table-bordered" style="font-size: 13px; font-family: Verdana, Geneva, Tahoma, sans-serif;">
        <thead>
            <tr>
                <th><span class="badge badge-pill badge-success">Sha</span></th>
                <th><span class="badge badge-pill badge-info">Description</span></th>
            </tr>
        </thead>
        <tbody>
        {% for commit in repository.fixing_commits %}
        <tr>
            <td>
                <a href="{{ repository.url }}/commit/{{ commit.sha }}" target="_blank" style="color:black;"> {{ commit.sha }} </a>
            </td>
            <td>
                <p>{{ commit.msg }}</p>
                <a class="mr-4" href="{% url 'delete_fixing_commit' repository.id commit.sha %}" style="float:right; color:red;"> <span data-feather="trash"></span></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
  </table>

    <!-- False positive fixing-commits -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 mb-3 border-bottom">
        <p class="text-uppercase">False positive fixing-commits</p>
    </div>
    <small>These are the commits identified as fixing defects, but that actually do not. For example, because they fix a typo.</small>

    <table id="table-fp-commits" class="display table table-striped table-bordered" style="font-size: 13px; font-family: Verdana, Geneva, Tahoma, sans-serif;">
        <thead>
            <tr>
                <th><span class="badge badge-pill badge-warning">Sha</span></th>
            </tr>
        </thead>
        <tbody>
        {% for sha in repository.fp_fixing_commits %}
        <tr>
            <td>
                <a href="{{ repository.url }}/commit/{{ sha }}" target="_blank" style="color:black;"> {{ sha }} </a>
                <a href="{% url 'delete_fixing_commit' repository.id sha %}" class="mr-4 text-warning"  style="float: right;"> <span  data-feather="trash"></span> </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</main>


{% endblock %}


{% block repository_details_scripts %}

<script>
   $(document).ready(function() {
      $('#table-tp-commits').DataTable();
   });

   $(document).ready(function() {
      $('#table-fp-commits').DataTable();
   });
</script>
{% endblock %}