{% extends "repository_detail.html" %}
{% block repository_details_content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 mb-3 border-bottom">
    <p class="text-uppercase">Fixing-files</p>
  </div>
  <small>These are the files modified by fixing-commits (green) and their respective buggy-inducing-commit (red).</small>

  <table id="table-files" class="display table table-striped table-bordered" style="font-size: 13px; font-family: Verdana, Geneva, Tahoma, sans-serif;">
        <thead>
            <tr>
                <th><p>Name</p></th>
                <th><p>Fixing-commit</p></th>
                <th><p>Buggy-inducing commit</p></th>
            </tr>
        </thead>
        <tbody>
        {% for file in files %}
        <tr>
            <td>
                <span class="badge ">{{ file.filepath }}</span>
            </td>
            <td>
                <a href="{{ repository.url }}/commit/{{ file.sha_fixing_commit }}" target="_blank" style="color:black;">
                    <span class="badge badge-pill badge-success">{{ file.sha_fixing_commit }} </span>
                </a>
            </td>
            <td>
                <a href="{{ repository.url }}/commit/{{ file.sha_bug_inducing_commit }}" target="_blank" style="color:black;">
                    <span class="badge badge-pill badge-danger"> {{ file.sha_bug_inducing_commit }} </span>
                </a>
                <a href="{{ repository.url }}/compare/{{ file.sha_fixing_commit }}..{{ file.sha_bug_inducing_commit }}" class="btn btn-outline-primary btn-sm"  target="_blank" style="float: right;">
                    <small>Compare</small>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
  </table>



{% endblock %}


{% block repository_details_scripts %}

<script>
   $(document).ready(function() {
      $('#table-files').DataTable();
   });
</script>
{% endblock %}