{% extends "repository_detail.html" %}
{% block repository_details_content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Mining settings</h1>
  </div>
  <form class="needs-validation" method="POST">
      {% csrf_token %}

      <div class="form-group">
        <label>Bug-related labels</label><br/>
        {{ form.input_labels }}
        <small  class="form-text text-muted">These are the issue labels that will be used to identify bug-related issues.</small>
      </div>

      <div class="form-group">
        <label>Regex</label><br/>
        {{ form.input_regex }}
        <small class="form-text text-muted">These is the regular expression that will be used to match fixing-commit messages.</small>
      </div>

      <div class="form-group">
        <label>Path to clones</label><br/>
        {{ form.input_path_to_clones }}
        <small id="path_to_clones_help" class="form-text text-muted">This is the folder where the repository will be cloned.</small>
      </div>
      <div class="form-group">
        <label>Github access token</label>
        {{ form.input_github_token }}
      </div>
      <button class="btn btn-primary btn-md btn-block mt-4" type="submit" data-toggle="modal" data-target="#message_modal">Submit</button>
  </form>
</main>

<div class="modal" id="message_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Attention!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Do not close this page. You will be redirected to the results page as soon as the process finishes. It may take several minutes.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">I understood</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
