{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="row text-center">
    <br/>
    <div class="col text-center">
        <h2>Repositories</h2>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card align-items-center">
            <br/>
            <i class="fa fa-git-square  fa-2x" style="color:#f34f29;"></i>
            <h2>{{ metadata.repos }}</h2>
            <p class="font-weight-light text-center">Repositories</p>
        </div>
    </div>
    <div class="col">
        <div class="card align-items-center">
            <br/>
            <i class="fa fa-exclamation-circle fa-2x" style="color:#dc3545;"></i>
            <h2>{{ metadata.avg_issues }}</h2>
            <p class="font-weight-light ">Avg issues</p>
        </div>
    </div>
    <div class="col">
        <div class="card align-items-center">
            <br/>
            <i class="fa fa-tag fa-2x" style="color:#28a745;"></i>
            <h2>{{ metadata.avg_releases }}</h2>
            <p class="font-weight-light ">Avg releases</p>
        </div>
    </div>
    <div class="col">
        <div class="card align-items-center">
            <br/>
            <i class="fa fa-star fa-2x" style="color:#ffc107;"></i>
            <h2>{{ metadata.avg_stars }}</h2>
            <p class="font-weight-light text-center">Avg stars</p>
        </div>
    </div>
    <div class="col">
        <div class="card align-items-center">
            <br/>
            <i class="fa fa-eye fa-2x" style="color:#17a2b8;"></i>
            <h2>{{ metadata.avg_watchers }}</h2>
            <p class="font-weight-light text-center">Avg watchers</p>
        </div>
    </div>
</div>
<br/>


<div class="accordion" id="accordion">
{% for repo in repositories %}
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{ repo.owner }}-{{ repo.name }}" aria-expanded="false" aria-controls="collapse-{{ repo.owner }}-{{ repo.name }}">
                    {{ repo.owner }}/{{ repo.name }} <a href="{{ repo.url }}" class="fa fa-github" aria-hidden="true"></a>
                </button>
            </h5>
        </div>
        <div id="collapse-{{ repo.owner }}-{{ repo.name }}" class="collapse" aria-labelledby="heading-{{ repo.owner }}-{{ repo.name }}" data-parent="#accordion">
            <div class="card-body">
                <p class="font-weight-light">{{ repo.description }}</p>
                <span class="badge badge-pill badge-dark">Created at: {{ repo.created_at }}</span>
                <span class="badge badge-pill badge-dark">Pushed at: {{ repo.pushed_at }}</span><br/>
                <span class="badge badge-pill badge-primary">Default branch: {{ repo.default_branch }}</span>
                <span class="badge badge-pill badge-danger">Issues: {{ repo.issues }}</span>
                <span class="badge badge-pill badge-success">Releases: {{ repo.releases }}</span>
                <span class="badge badge-pill badge-warning">Stars: {{ repo.stars }}</span>
                <span class="badge badge-pill badge-info">Watchers: {{ repo.watchers }}</span>
                <span class="badge badge-pill badge-secondary">Language: {{ repo.primary_language }}</span>

                <a href="{% url 'repository_detail' repo.id %}" class="btn btn-outline-primary btn-sm" style="float: right;">
                        Read More
                </a>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}


