<!-- <div class="flex flex-col flex-auto min-w-0"> -->

    <!-- Main -->
    <!-- <div class="flex-auto "> -->
    <div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">    
        <mat-drawer-container
        class="flex-auto h-full bg-card dark:bg-transparent"
        (backdropClick)="onBackdropClicked()">

            <!-- Drawer -->
            <mat-drawer
                class="w-full md:w-160 dark:bg-gray-900"
                [mode]="drawerMode"
                [opened]="false"
                [position]="'end'"
                [disableClose]="true"
                #matDrawer>
                <router-outlet></router-outlet>
            </mat-drawer>

            <mat-drawer-content class="flex flex-col">
                
                <div class="h-400 min-h-400 max-h-400">

                    <!-- Header -->
                    <div class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between py-8 px-6 md:px-8 border-b">

                        <!-- Title -->
                        <div>
                            <div class="text-4xl font-extrabold tracking-tight leading-none">Repositories</div>
                            <div class="ml-0.5 font-medium text-secondary">
                                <ng-container *ngIf="repositoriesCount > 0">
                                    {{repositoriesCount}}
                                </ng-container>
                                {{repositoriesCount | i18nPlural: {
                                '=0'   : 'No repositories',
                                '=1'   : 'repository',
                                'other': 'repositories'
                            } }}
                            </div>
                        </div>

                        <!-- Main actions -->
                        <div class="flex items-center mt-4 sm:mt-0 md:mt-4">
                            <!-- Search -->
                            <div class="flex-auto">
                                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded w-full min-w-50">
                                    <mat-icon
                                        class="icon-size-5"
                                        matPrefix
                                        [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                    <input
                                        matInput
                                        [formControl]="searchInputControl"
                                        [autocomplete]="'off'"
                                        [placeholder]="'Search repositories'">
                                </mat-form-field>
                            </div>
                            <!-- Add repository button -->
                            <button
                                class="ml-4"
                                mat-flat-button
                                [color]="'primary'"
                                (click)="addRepository()">
                                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                                <span class="ml-2 mr-1">Add</span>
                            </button>
                        </div>
                    </div>

                    <!-- Repositories list -->
                    <div class="relative">
                        <ng-container *ngIf="repositories.length; else noRepositories">
                            <ng-container *ngFor="let repository of repositories; let i = index; trackBy: trackByFn">
                                <!-- Group -->
                                <ng-container *ngIf="i === 0 || repository.full_name.charAt(0) !== repositories[i - 1].full_name.charAt(0)">
                                    <div class="z-10 sticky top-0 -mt-px px-6 py-1 md:px-8 border-t border-b font-medium uppercase text-secondary bg-gray-50 dark:bg-gray-900">
                                        {{repository.full_name.charAt(0)}}
                                    </div>
                                </ng-container>
                                <!-- Repository -->
                                <a
                                    class="z-20 flex items-center px-6 py-4 md:px-8 cursor-pointer border-b"
                                    [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !selectedRepository || selectedRepository.id !== repository.id,
                                                'bg-primary-50 dark:bg-hover': selectedRepository && selectedRepository.id === repository.id}"
                                    [routerLink]="['./', repository.id]">
                            
                                    <div class="min-w-0 ml-4">
                                        <div class="font-medium leading-5 truncate">{{repository.full_name}}</div>
                                        <div class="leading-5 truncate text-secondary">{{repository.language}}</div>
                                    </div>
                                </a>
                            </ng-container>
                        </ng-container>

                        <!-- No repositories -->
                        <ng-template #noRepositories>
                            <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no repositories!</div>
                        </ng-template>

                    </div>

                </div>
            </mat-drawer-content>

        </mat-drawer-container>             
    </div>

<!-- </div> -->
