<div mat-dialog-title class="flex flex-col sm:flex-row flex-0 sm:items-center gap-4">
    <mat-icon matPrefix [svgIcon]="'heroicons_outline:exclamation-circle'" style="color: red"></mat-icon>
    <h2 style="color: red;">Delete this repository?</h2>
</div>
<p class="font-medium" style="color: red;">Doing so will permanently delete the data for this repository, including all commits data and models.</p>
<mat-dialog-content>

    <div class="flex flex-col mt-4 pt-6 border-t space-y-8">

        <p>Confirm that you want to delete this repository by typing its name: <b>{{data.full_name}}</b></p>
        <!-- Remote URL to a Git(hub|lab) repository -->
        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-100" appearance="fill">
             <input
                matInput
                [autocomplete]="'off'"
                [placeholder]="data.full_name"
                (keyup)="checkFullName($event.target.value)"
                required
                cdkFocusInitial>
        </mat-form-field>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-button [mat-dialog-close]="true" [disabled]="!canDelete">Delete</button>
</mat-dialog-actions>


